---
layout: default
make-smaller-titles: true
---


<div class="container-fluid index">
  <div class="row">




    <h1 class="header author-header" itemprop="headline"><font color="white">Post</font></h1>

		<div class="col-md-12 content-panel articles" >
		<hr/>
							<!-- <h2 class='header'><font color="white">Chia-Wei's Twitter</font></h2> -->
							<div align='center'>
								<a class="twitter-timeline" data-width="500" data-height="500" data-theme="dark" data-link-color="#FAB81E" href="https://twitter.com/Hsu_Chia_Wei?ref_src=twsrc%5Etfw">Tweets by Hsu_Chia_Wei</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
		 					</div>
							<!-- <hr/> -->
		</div>
    {% for post in site.posts %}


      {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
      {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

      {% if forloop.first %}
           {% if post.categories contains "post" %}
      <div class="col-md-12 content-panel articles">
        <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
        <ul>
           {% else %}
			<div class="col-md-12 content-panel articles">
		    <h2 id="{{ this_year }}-ref">{{ this_year }}</h2>
		    <ul>
           {% endif %}
      {% endif %}
           {% if post.categories contains "post" %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
          </li>
           {% else %}
          <li>
            <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            <small class="hidden-xs">{{ post.date | date: "%B %-d, %Y" }}</small>
          </li>
           {% endif %}
      {% if forloop.last %}
        </ul>
      </div>
      {% else %}
        {% if this_year != next_year %}
          </ul>
        </div>

        <div class="col-md-12 content-panel articles">
          <h2 id="{{ next_year }}-ref">{{next_year}}</h2>
          <ul>

        {% endif %}
      {% endif %}


    {% endfor %}




    </div>

  </div>
